
@{
    ViewBag.Title = "Reg";
    Layout = "~/Areas/Customer/Views/Shared/RegistrationLayout.cshtml";
}

    <body>
        <div class="header">
            <img src="~/Content/image/flight.jpeg" />
            <p><b>Air Ticket Reservation...</b></p>
        </div>
        <div class="fixed-header">
            <div class="container">
                <nav>
                    <a href="#">Home </a>
                    <a href="#">About</a>
                    <a href="#">Product</a>
                    <a href="#">Services</a>
                    <a href="#">Contact us</a>
                </nav>
            </div>

        </div>
        
        <div class="content">
            <marquee >available discount and offers on tickets to pune</marquee> 
        </div>
        <div class="fixed-footer">
            <div class="container">
                Copyright &copy; 2020 Air Ticket Reservation
            </div>

        </div>
    </body>

